/* Created by Dayu Wang (dwang@stchas.edu) on 2022-03-20 */

/* Last updated by Dayu Wang (dwang@stchas.edu) on 2022-03-20 */


body {
    background: whitesmoke;
    color: black;
    font-family: Verdana, sans-serif;
    font-size: 11pt;
    line-height: 150%;
    margin: 0 auto;
    padding: 12px;
    width: 800px;
}

button {
    display: block;
    font-family: Verdana, sans-serif;
    font-size: 11pt;
    height: 32px;
    margin: 12pt auto;
    outline: none;
    text-align: center;
    vertical-align: middle;
    width: 180px;
}

div {
    margin: 12pt 0 0 0;
    padding: 0;
}

img {
    border: none;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    padding: 0;
}

input {
    color: blue;
    font-family: verdana, sans-serif;
    font-size: 11pt;
    outline: none;
}

input[type=radio] {
    position: relative;
    top: 1px;
}

input:not([type=radio]) {
    width: 150px;
}

p {
    margin: 0;
    padding: 0;
}

table {
    border: none;
    border-collapse: collapse;
    margin: 0;
    line-height: normal;
    white-space: nowrap;
}

td {
    border: none;
    font-size: 10pt;
    padding: 0;
    vertical-align: middle;
}

textarea {
    color: blue;
    font-family: Verdana, sans-serif;
    font-size: 10pt;
    margin: 0;
    outline: none;
    padding: 3pt;
    resize: none;
}

.underline {
    text-decoration: underline;
    text-decoration-skip-ink: none;
}